body {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}
#title_container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#main {
    position: absolute;
    display: flex;
    gap: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
input {
    border-radius: 6px;
    border: 2px solid;
}
#check {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid green;
    border-radius: 8px;
    background-color: greenyellow;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#check:hover {
    font-size: 1.8rem;
}
#check:active {
    font-size: 1.5rem;
}
#result {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
#result:active {
    animation-name: rotate;
    animation-duration: 0.5s;
}
@keyframes rotate {
    100%{transform: rotateZ(360deg);}
}